@model TheNuggetList.Domain.Util.Paging.IPagedList

@if (Model.PageCount > 0)
{  
    <ul class="PageNumbers">

    @if (!Model.IsFirstPage)
    {
        <li class="first">
            <a title="Go to the first page" href="@Request.AddToQueryString("page","1")" >
                <span>First</span>
            </a>
        </li>  
    }
    
    @if (Model.IsPreviousPage) 
    {   
        <li class="prev">
            <a title="Go to the previous page" rel="prev" href="@Request.AddToQueryString("page", Model.CurrentPage-1)">
                <span>Previous</span>
            </a>
        </li>  
    }
    
   <!-- display the list of pages -->  

   @for (var pageNumber=Model.OptimumStartPage; pageNumber <= Model.OptimumEndPage; pageNumber++) 
   {
       <li>       
           <a href="@Request.AddToQueryString("page", pageNumber)" @if (Model.CurrentPage == pageNumber) { <text>class="selected"</text> }>
                @pageNumber
           </a>
       </li>  
   }
    
    @if (Model.IsNextPage)   
    { 
        <li class="next">
            <a title="Go to the next page" rel="next" href="@Request.AddToQueryString("page", Model.CurrentPage+1)">
                <span>Next</span>
            </a>
        </li>  
    } 

    @if (!Model.IsLastPage)
    {
        <li class="last">
            <a title="Go to the last page" href="@Request.AddToQueryString("page", Model.PageCount)">
                <span>Last</span>
            </a>
        </li>  
    }
    </ul>    
}


